body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

h1 {
    font-family: 'Helvetica Neue', Helvetica, Arial sans-serif;
    font-size: 14px;
    letter-spacing: 2px;
}

a {
    text-decoration: none;
    color: inherit;
}

.image-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.image-wrapper {
    padding: 20px 20px;
}

.image {
    width: 100%;
}

.landscape {
    max-width: 1000px;
}

.portrait {
    max-width: 600px;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    width: 1000px;
}

/* .nav-item {
    padding: 0px 5px;
} */

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}